@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?31919061');
    src: url('../font/fontello.eot?31919061#iefix') format('embedded-opentype'),
    url('../font/fontello.woff?31919061') format('woff'),
    url('../font/fontello.ttf?31919061') format('truetype'),
    url('../font/fontello.svg?31919061#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  html {
      background-color: #FFF8DC;
      line-height: 1.5
  }

  body {
      color: #D2B48C;
      display: flex;
      margin: 0 auto;
      max-width: 1024px;
      min-width: 320px;
      font-size: 18px;
  }

  aside {
      display: flex;
      width: 50%;
      min-width: 240px;
      align-items: flex-start;
      flex-direction: column;
      padding: 50px;
      background-color: #D2B48C;
      color: #FFF8DC;
  }

  aside h1 {
      margin: 20px auto;
      font-size: 32px;
  }

  main {
width: 65%;
min-width: 240px;
padding: 30px;
background-color: #fff;
color #FFF8DC;
  }

  img {
      width: 80%;
      min-width: 240px;
      padding: 40px;
      object-fit: cover;
  }

  p {
      margin-top: 5px;
      margin-bottom: 5px;
  }

  .info,
  .skills {
      justify-content: flex-start;
  }

.info a {
    color: #FFF8DC;
}

main a {
    color:  #D2B48C;
}

main h2,
main h3 {
    color:  #D2B48C;
}

main h2 {
    margin: 30px 0 10px;
}

main h2:first-child {
    padding-top: 0;
    margin-top: 0;
}

i {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    color: #D2B48C;
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    text-decoration: none;
    padding-right: 10px;
}

